.vscode/**
.vscode-test/**
test/**
src/**
!src/webview/**
app/**
components/**
context/**
lib/**
node_modules/**
extension.js
.gitignore
*.config.mjs
*.config.js
jsconfig.json
**/*.map
images/**
*.vsix
